@charset "UTF-8";
:root{
    --cor01: #49a09d;
    --cor02: #5f2c82;
}
@media screen and (min-width:768px) and (max-width:992px) {
    body{
        background-image: linear-gradient(to top, var(--cor01), var(--cor02) );
    }
    section#loguin{
        width: 80vw;
    }
   section#loguin > div#foto{
    float: left;
    width: 30%;
    height: 100%;
   }
   section#loguin > div#form{
    float: right;
    width: 70%;
   }
    
}

@media screen and (min-width:992px) {
    body{
        background-image: linear-gradient(to top, var(--cor01), var(--cor02) );
    }
    section#loguin{
        width: 950px;
    }
    section#loguin > div#foto {
        float: right;
        width: 50%;
        height: 100%;
    }
    section#loguin > div#form{
        float: left;
        width: 50%;
    }
    div#form > h1{
      font-size: 2em;
    }
    
    div#form > p{
        font-size: 1.2em;
    }
    
}